body{
    overflow: hidden;
    height: 100vh;
    background: url(/img/bg.jpg) rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media(max-width: 991px){
    .sidebar{
        background-color: rgba(225,225,225,0.15);
        backdrop-filter: blur(10px);
    }
}
